.wrapper {
  width: 600px;
}

.wrapper form {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

form label {
  font-family: cursive;
  font-size: 20px;
}

form textarea {
  width: inherit;
  height: 150px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  resize: vertical;
  margin-top: 25px;
}

form .question {
  margin-top: 50px;
}

@media (max-width: 893px) {
  .wrapper {
    width: 400px;
  }

  form textarea {
    resize: none;
  }
}
