/* Changes the width of the div with class wrapper */
.wrapper {
  width: 600px;
}

/* Uses flexbox to arrange the form elements and adds top padding*/
.wrapper form {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

/*Changes the font size and font family  of label */
form label {
  font-family: cursive;
  font-size: 20px;
}

/* Added styling for the textare*/
form textarea {
  height: 150px;
  margin: 50px;
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  resize: none;
  margin-top: 25px;
  border-radius: 15px;
}

/* Uses flexbox to arrange the items
   and add top margin to space it out */
form .question {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

/*Adds a red border alerting user of 
 missing information */
.required {
  color: red;
}

/* Adds margin to sperate the buttons from textarea */
.input {
  margin: 15px;
}

/*Added styling for the input type of submit and reset */
input[type="submit"],
input[type="reset"] {
  color: wheat;
  background-color: steelblue;
  padding: 15px 25px;
  font-size: 16px;
  margin: 25px;
}

/* Breakpoint when the width is less than or equal to 893px */
@media (max-width: 893px) {
  /* Changes the width of thw div of class wrapper */
  .wrapper {
    width: 530px;
  }
  
  /* Changes the width of the textarea */
  form textarea {
    width: 450px;
  }

  /* Changes the font size of the p tags */
  .wrapper p {
    font-size: 20px;
  }
}

/* Breakpoint when the width is less than or equal to 400px */
@media (max-width: 400px) {
    /* Changes the width of th div of class wrapper */
  .wrapper {
    width: 400px;
  }

  /* Changes the font size of the h1 tag under div wrapper */
  .wrapper h1 {
    font-size: 40px;
  }

  /* Changes the font size of the p tags under div wrapper */
  .wrapper p {
    width: 320px;
    margin-left: 10px;
  }
  
  /* Changes the width of the textarea */
  form textarea {
    width: 300px;
  }
}

