.essentials h2 {
  font-size: 35px;
  text-decoration: underline;
}

.container {
  width: 1000px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px;
  justify-content: space-evenly;
}

.news {
  padding: 25px;
}

.news h2 {
  font-size: 35px;
  text-decoration: underline;
}

.news ul {
  justify-content: space-evenly;
  font-size: 15px;
  color: white;
}

.news ul li {
  list-style: none;
  font-size: 25px;
  line-height: 50px;
}

@media (max-width: 1080px) {
  .container {
    all: unset;
    display: flex;
    flex-direction: column;
  }
}
