<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignments</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/assignments.css') }}"
    />
  </head>

  <body>
    {% extends "template.html" %} {% block content %}

    <div class="wrapper">
      <h1>Assignments</h1>
      <div id="resp-table">
        <div id="resp-table-header">
          <div class="table-header-cell">
            <b>Assignments</b>
          </div>
          <div class="table-header-cell">
            <b>Due Date</b>
          </div>
        </div>
        <div id="resp-table-body">
          <div class="resp-table-row">
            <div class="table-body-cell">
              <a href="./files/dummy_doc.pdf">Assignment 1</a>
            </div>
            <div class="table-body-cell">
              <b>January 27</b>
            </div>
          </div>
          <div class="resp-table-row">
            <div class="table-body-cell">
              <a href="./files/dummy_doc.pdf">Assignment 2</a>
            </div>
            <div class="table-body-cell">
              <b>February 27</b>
            </div>
          </div>
          <div class="resp-table-row">
            <div class="table-body-cell">
              <a href="./files/dummy_doc.pdf">Assignment 3</a>
            </div>
            <div class="table-body-cell">
              <b>March 21</b>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
