{% extends "template.html" %} 
  {% block title %}Feedback{% endblock %}
  {% block head %}
    {{ super() }}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/feedback.css') }}"
    />
  {% endblock %}
  {% block content %}
    <div class="wrapper">
      <h1>Annonymous Feedback</h1>
      <p>
        This is an annoymous feedback for your to tell us how to better improve
        the course
      </p>
      <form>
        <label for="feedback">Enter feedback here : </label>
        <textarea id="feedback" rows="5" cols="50"></textarea>
        <div class="input">
          <input type="reset" value="Reset" />
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>
  {% endblock %}
