{% extends "template.html" %} 
  {% block title %}Login{% endblock %} 
  {% block head%} 
  {{ super() }}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login-signup.css') }}"
    />
  {% endblock %} 
  {% block content %}
    <div class="wrapper">
      <form method="post">
        <p>{{msg}}</p>
        <p>Enter your name: <input type="text" name="name" required=""/></p>

        <label><input type="radio" name="usertype" value="Student" required="" /> Student</label> 
        <label><input type="radio" name="usertype" value="Instructor" required="" /> Instructor</label>

        <p>Enter your username: <input type="text" name="username" required="" /></p>
        <p>Enter your password: <input type="password" name="password" required="" /></p>
        <p><input type="submit" value="Submit" /></p>
       </form>
    </div>
  {% endblock %}
