{% extends "template.html" %} 
  {% block title %}Tests{% endblock %}
  {% block head %}
    {{ super() }}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/test.css') }}"
    />
  {% endblock %} 
  {% block content %}
    <div class="wrapper">
      <h1>Tests</h1>
      <div id="resp-table">
        <div id="resp-table-header">
          <div class="table-header-cell">
            <b>Tests</b>
          </div>
          <div class="table-header-cell">
            <b>Date</b>
          </div>
        </div>
        <div id="resp-table-body">
          <div class="resp-table-row">
            <div class="table-body-cell">
              <a href="./files/dummy_doc.pdf">Term Test 1 Solutions</a>
            </div>
            <div class="table-body-cell">
              <b>February 10</b>
            </div>
          </div>
          <div class="resp-table-row">
            <div class="table-body-cell">
              <a href="./files/dummy_doc.pdf">Term Test 2 Solutions</a>
            </div>
            <div class="table-body-cell">
              <b>March 17</b>
            </div>
          </div>
          <div class="resp-table-row">
            <div class="table-body-cell">
              <a>Term Test 3</a>
            </div>
            <div class="table-body-cell">
              <b>TBD</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}